body{
    font-family: Arial, Helvetica, sans-serif;
    background: powderblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
}
.input-area{
    display: flex;
    margin-bottom: 20px;
}
.input-area input{
    flex: 1;
    padding: 10px;
    border: 1px solid#ccc;
    border-radius: 5px 0 0 5px;
}
.input-area button{
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.filters button{
    margin: 25px;
    cursor: pointer;
    border: 2px solid #0d6efd;
}
li{
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    border-radius: 5px
}
.complete{
    text-decoration: line-through;
    color: white;
}
#addTaskButton{
    background: blue;
    color: white;
}
button:hover{
    opacity: 0.8;
}
input:focus{
    outline: none;
    border-color: 0d6efd;
}
h1{
    color: blue;
    text-align: center;
}
p{
    text-align: center;
    color: black;
}
#clearCompleted{
    background: gray;
    color: black;
    margin-top: 20px;
    font-size: 15px;
}